/* 计数器 */
ul {
  counter-reset: num;
}
li::before {
  counter-increment: num;
  content: counter(num);
}

/* 自定义滚动条 */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #999;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}

/* 自定义文本选择 */
::selection {
  background-color: #0af;
  color: #fff;
}

/* 渐变 */
div {
  background: linear-gradient(0deg, #0af, #fff);
}

/* 截断省略号 */
div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}